@import "../variables";
.cell {
  height: 100%;
  width: 100%;
  background-color: $background;
  border: none;
  outline: none;
}

.colored {
  background-color: black;
}

.marked {
  background-color: darkred;
}
