@import "../variables";
.cell {
  touch-action: manipulation;
  height: 100%;
  width: 100%;
  background-color: $background;
}

.colored {
  background-color: black;
}

.marked {
  background-color: darkred;
}
