.controls {
  padding: 20px;
  border-radius: 10px;
  background-color: hsl(20, 100%, 65%);

  button {
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 0;
    border-radius: 5px;
    background-color: hsl(200, 0%, 90%);
    &:hover {
      background-color: hsl(200, 0%, 85%);
    }
    &:active {
      background-color: hsl(200, 0%, 84%);
    }
  }
}
